<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initial-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `initial-element`
     * Slot testing
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialElement extends Polymer.Element {
      static get is() { return 'initial-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initial-element'
          }
        };
      }
    }

    window.customElements.define(InitialElement.is, InitialElement);
  </script>
</dom-module>
