<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initial-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .circle-one{
        width:150px;
        height:150px;
        border-radius:150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .red{
        background-color:#852626;
      }
      .blue{
        background-color:#266585;
      }
      .green{
        background-color:#26852F;
      }
    </style>
    <div class$="circle-one {{bgcolor}}"><h2>{{txt}}</h2></div>
  </template>

  <script>
    /**
     * `initial-element`
     * Slot testing
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialElement extends Polymer.Element {
      static get is() { return 'initial-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initial-element'
          },
          bgcolor:{
            type: String,
            value: ''
          },
          txt:{
            type: String,
            value: ''
          }
        };
      }
    }

    window.customElements.define(InitialElement.is, InitialElement);
  </script>
</dom-module>
